@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    background-color: rgba(255, 255, 255, 0.911);
    width: 500px;
    min-width: 320px;
    padding: 10px;
    box-shadow: 15px 15px 15px #0e161dd8;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.content-img {
    width: 100%;
    display: flex;
    padding-left: 10px;
}

form{
    color: #002d68;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #004aad, #002d68);
    background-image: url(img/wizard-v4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
}

.title-form {
    padding-top: 20px;
    width: 100%;
}

input {
    width: 95%;
    min-width: 200px;
    height: 20px;
    padding: 13px;
    border: 1px solid rgba(5, 5, 5, 0.185);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.BUTTON_UVV {
    background: #002d68;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: .8rem;
    font-weight: 700;
    padding: 10px 15px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transform: 0.2s !important;
    margin-left: 10px;
    line-height: 1.5;
 }
 
 .BUTTON_UVV:hover {
    background: #004aad;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    transform: 0.2s !important;
 }

 .content-btn{
    width: 95%;
    min-width: 200px;
    padding-top: 15px;
 }